Atividade dia 24/agente_nfs.zip
Atividade dia 24/agente_nfs_fonte.zip
Atividade dia 24/agent_nfs_executavel
Atividade dia 24/agente_nfs/Lib/site-packages/*/desktop.ini
Atividade dia 24/agente_nfs/Script/.env
.git/refs/desktop.ini
.git/refs/*/desktop.ini
.git/refs/*/*/desktop.ini

