**/desktop.ini
**/Lib
**/etc
**/Include
**/share
**/venv
**/.env
**/creditcard.csv
**/dados.db
**/fraude_cartao.db
**/nfs_data.db
**/creditcard.zip
**/**.bat
**/**.exe
**/**.dll
**/activate**
**/desktop.ini
**/**.fish
**.cfg
**/json**
**/__pycache__
**/n8n-meus-ensinamentos-2e11e39f369e.json