pandas==2.3.0
pydantic==2.11.7
python-dotenv==1.1.0
sqlalchemy==2.0.41
packaging==25.0
protobuf==5.29.5
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.74
streamlit==1.46.0
cachetools==5.5.2
matplotlib==3.10.3
langchain-openai==0.3.31
openpyxl==3.1.5
pytesseract==0.3.13
opencv_python==4.11.0.86
matplotlib==3.10.3
pdf2image==1.17.0
python-magic==0.4.27